@import './smart-grid';
@import './mixins';

@include reset();

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Bold.eot) format("eot"),
         url(../fonts/Gilroy-Bold.ttf) format("truetype"),
         url(../fonts/Gilroy-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Thin.eot) format("eot"),
         url(../fonts/Gilroy-Thin.ttf) format("truetype"),
         url(../fonts/Gilroy-Thin.woff) format("woff");
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Regular.eot) format("eot"),
         url(../fonts/Gilroy-Regular.ttf) format("truetype"),
         url(../fonts/Gilroy-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

*:focus {
    outline: none;
}

html.fonts-loaded body {
    font-family: 'Gilroy', sans-serif;
}

body {
    font-size: 16px;
    font-display: swap;
}

.ps {
    font-style: italic;
    font-size: 14px;
}

.row-inner {
    display: flex;
    flex-wrap: wrap;
}

.page-title {
    font-size: 45px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;

    @include sm-block {
        font-size: 37px;
        margin: 15px 0;
    }

    @include xs-block {
        font-size: 27px;
    }
}

.container {
    @include wrapper();
}

.show-xs {
    display: none !important;
    @include xs(display, block !important);
}

.show-sm {
    display: none !important;
    @include sm(display, block !important);
}

.hide-sm {
    @include sm-block {
        display: none !important;
    }
}

.hide-xs {
    @include xs-block {
        display: none !important;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.title-primary {
    font-size: 50px;
    font-weight: bold;
    margin: 30px 0;

    @include sm-block {
        font-size: 30px;
        margin: 10px 0;
    }

    @include xs-block {
        font-size: 24px;
    }
}

.mt50 {
    margin-top: 50px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.title-secondary {
    font-size: 30px;
    padding-left: 15px;
    font-weight: normal;

    @include sm-block {
        font-size: 18px;
    }

    @include xs-block {
        font-size: 15px;
    }
}

.title-tertiary {
    font-size: 35px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;

    @include sm-block {
        font-size: 20px;
    }
}

.desc-primary {
    text-align: center;
    font-size: 16px;
}

#flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.hr {
    width: 300px;
    height: 3px;
    background-color: #333;
    margin: 30px auto;
}

.row {
    @include row-flex();
}

.text-center {
    text-align: center;
}

.overhidden {
    @include sm-block {
        overflow: hidden;
    }
}

button {
    -webkit-appearance: none;
}

.btn-primary {
    color: #0dace8;
    font-size: 20px;
    border: none;
    padding: 10px 9px;
    background-color: #fff;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid #0dace8;
    border-radius: 5px;

    &:hover, &:focus {
        outline: none;
        color: #fff;
        background-color: #0dace8;
    }

    &.big {
        font-size: 40px;
    }

    @media only screen and (max-width: 576px) {
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0.5px;
    }
}


//////////////////////////////////////// Modals

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    &-background {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        z-index: 11;
        background-color: rgba(0, 0, 0, .5);
        transition: all 200ms ease-in-out;
    }

    &-content {
        position: relative;
        width: 500px;
        max-width: 80%;
        background-color: #fff;
        z-index: 111;
        box-sizing: border-box;
        text-align: center;
        padding: 40px;
        transition: all 150ms ease-in-out;
        border-radius: 10px;
    }

    &-content .done {
        display: none;
        img {
            width: 150px;
        }
    }

    &-content.done {
        .form {
            display: none;
        }

        .done {
            display: block;
        }
    }

    &-heading {
        font-size: 30px;
        font-weight: 300;
        line-height: 1.4em;
        margin-bottom: 20px;
    }

    &-input- {

        &name,
        &phone {
            width: 100%;
            height: 50px;
            border: 1px solid #c6c6c6;
            border-radius: 3px;
            font-size: 18px;
            color: #3b3b3b;
            padding: 0 22px;
            margin-bottom: 30px;
            box-sizing: border-box;

            &:focus {
                outline: none;
            }
        }
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 40px;
        font-weight: 700;
        transform: rotate(45deg);
        transition: text-shadow .2s ease-in-out;
        cursor: pointer;
        text-shadow: 0 0 0rem transparent;

        &:hover {
            text-shadow: 0 0 15px #3b3b3b;
        }

    }

    // Show & Hide
    // Hiding
    &-content {
        transform: translateY(-8rem) scale(.9);
        opacity: .4;
    }

    &-background {
        opacity: .3;
    }

    visibility: hidden;

    // Showing

    &.active &-content {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    &.active &-background {
        opacity: 1;
    }

    &.active {
        visibility: visible;
    }

    @include xs-block {
        &-content {
            max-width: 85%;
            padding: 50px 20px;
        }

        &-heading {
            font-size: 21px;
        }

        &-input- {

            &name,
            &phone {
                width: 100%;
                height: 40px;
                font-size: 16px;
                margin-bottom: 20px;
            }
        }

        &-submit {
            height: 50px;
            font-size: 20px;
        }

        .close-btn {
            top: 0;
            font-size: 40px;
            font-weight: 500;
        }
    }
}