@import './smart-grid';
@import './mixins';
@import './colors';

.navbar {
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    &-container {
        width: 1250px;
        max-width: 95%;
        margin: 0 auto;
    }

    @include sm-block {
        background-color: #000;
    }

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    .toggle-btn {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;

        @include sm-block {
            display: block;
            z-index: 121;
        }

        .toggle-input {
            display: none;
        }

        .menu {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        label {
            display: block;
            cursor: pointer;
            width: 100px;
            height: 100px;
            max-width: 100px;
            max-height: 100px;
            display: inline-block;
        }

        @media (min-aspect-ratio: 1/1) {
            label {
                width: 90px;
                height: 90px;
            }
        }

        path {
            fill: none;
            stroke: #fff;
            stroke-width: 3;
            stroke-linecap: round;
            stroke-linejoin: round;
            --length: 24;
            --offset: -38;
            stroke-dasharray: var(--length) var(--total-length);
            stroke-dashoffset: var(--offset);
            transition: all .5s cubic-bezier(.645, .045, .355, 1);
        }

        circle {
            fill: transparent;
            opacity: 0;
        }

        label:hover circle {
            opacity: 1;
        }

        .cross input:checked+svg path {
            stroke: #fff;
        }

        .cross input:checked+svg .line--1,
        .cross input:checked+svg .line--3 {
            --length: 22.627416998;
        }

        .cross input:checked+svg .line--2 {
            --length: 0;
        }

        .back input:checked+svg .line--1,
        .back input:checked+svg .line--3 {
            --length: 8.602325267;
        }

        .menu .line--1,
        .menu .line--3 {
            --total-length: 126.64183044433594;
        }

        .menu .line--2 {
            --total-length: 70;
        }

        .menu input:checked+svg .line--1,
        .menu input:checked+svg .line--3 {
            --offset: -94.1149185097;
        }

        .menu input:checked+svg .line--2 {
            --offset: -50;
        }
    }

    .mymenu {
        width: 33%;

        @include sm-block {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background-color: #000000a6;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 111;
            visibility: hidden;
            opacity: 0;
            transition: all .5s ease;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }

        &.active .list .item {
            transform: translateX(0);
        }

        .list {
            display: flex;

            @include sm-block {
                display: block;
                text-align: center;
            }
        }

        .list .item {
            margin-right: 10px;
            transition: transform .3s ease;

            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                    transition-delay: #{40 * $i}ms;
                }
            }

            @include sm-block {
                margin-right: 0;
                margin-bottom: 10px;
                transform: translateX(-40px);
            }
        }

        .list .link {
            color: $color-primary;
            display: inline-block;
            position: relative;

            @include sm-block {
                color: #fff;
                font-size: 22px;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 0;
                height: 2px;
                bottom: -1px;
                left: 50%;
                right: 50%;
                transition: all .2s ease;
                background: #111;

                @include sm-block {
                    background-color: #fff;
                }
            }

            &:hover::before {
                left: 0;
                right: 0;
                width: 100%;
            }
        }
    }

    .logo {
        width: 33%;
        text-align: center;

        @include sm-block {
            width: auto;
        }

        img {
            width: 150px;
        }
    }

    &-contacts {
        width: 33%;
        @include sm-block {
            display: none;
            width: auto;
        }

         a {
             font-size: 18px;
             color: $color-primary;
             display: inline-block;

             @include md-block {
                font-size: 16px;
            }

             &:not(:last-of-type) {
                 margin-right: 12px;
             }
         }
    }

    .mymenu &-contacts-sm {
        width: 100%;
        transition: all .3s ease;
        position: fixed;
        z-index: 111;
        text-align: center;

        left: 50%;
        bottom: 5vh;
        transform: translateX(-50%);

        a {
            font-size: 30px;
            color: #fff;
        }
    }
}

header {
    background: url(../images/header-bg.svg) no-repeat center center / cover;

    .page-title {
        font-size: 80px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 20px;
        margin-top: 150px;

        @include md-block {
            font-size: 65px;
            margin-top: 100px;
        }

        @include sm-block {
            font-size: 50px;
            margin-top: 50px;
        }
    }

    .page-desc {
        font-size: 20px;
        text-transform: uppercase;
        color: #4C4C4C;
        margin-bottom: 20px;

        @include md-block {
            font-size: 18px;
        }

        @include sm-block {
            font-size: 16px;
        }
    }

    .header-content {
        text-align: center;
        box-sizing: border-box;
        padding: 20px 0;
        @include sm-block {
            text-align: left;
        }
    }

    .skidka {
        background-color: #00AFEF;
        color: #fff;
        box-sizing: border-box;
        padding: 20px;
        font-size: 20px;
        text-align: center;
        box-shadow: 0 20px 15px -10px rgba(0, 175, 239, 0.582);


        .thin {
            font-size: 18px;
        }
    }

    .infos {
        margin-top: 150px;
        text-align: left;

        @include md-block {
            margin-top: 50px;
        }


        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            text-align: center;

            li {
                @include size(6);
                @include size-sm(12);

                position: relative;
                box-sizing: border-box;

                .icon {
                    font-size: 50px;
                    display: block;
                    margin-right: 5px;
                }

                @include sm-block {
                    margin-bottom: 10px;
                }

                h4 {
                    font-size: 20px;
                    font-weight: bold;
                }

                p {
                    color: #4C4C4C;
                }
            }
        }
    }
}

.form-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 111;

    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    &.active {
        opacity: 1;
        visibility: visible;

        .modal-background {
            background-color: rgba(0, 0, 0, 0.31);
        }

        .modal-content {
            transform: translate(-50%, -50%) scale(1);
            visibility: visible;
        }
    }

    &.done {
        form,
        .modal-heading {
            display: none;
        }

        .done {
            display: block;
        }
    }

    .modal-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background: transparent;
        transition: all .5s ease;
        z-index: 115;
    }

    .done {
        transition: all .2s ease;
        display: none;

        .animated-svg {
            width: 200px;
            margin: 0 auto;
            margin-bottom: 20px;

            @include xs-block {
                width: 100px;
            }
        }

        .checkmark {
            stroke: #49c549;
            stroke-dashoffset: 745.74853515625;
            stroke-dasharray: 745.74853515625;
            animation: dash 2s ease-out forwards 1;
          }

          @keyframes dash {
            0% {
              stroke-dashoffset: 745.74853515625;
            }
            100% {
              stroke-dashoffset: 0;
            }
          }

          h3 {
              font-size: 30px;
          }
    }


    .modal-content {
        position: absolute;
        z-index: 120;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(.9);
        box-sizing: border-box;
        width: 500px;
        max-width: 95%;
        height: 400px;
        padding: 40px 40px;
        background-color: #fff;
        text-align: center;
        border-radius: 18px;
        transition: all .3s ease;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        @include md-block {
            height: 300px;
        }

        @include md-block {
            height: 270px;
            padding: 20px;
        }

        .close-btn {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 40px;
            font-weight: 700;
            transform: rotate(45deg);
            transition: text-shadow .2s ease;
            cursor: pointer;
            text-shadow: 0 0 0rem transparent;
            background: none;

            user-select: none;

            &:hover {
                text-shadow: 0 0 15px #3b3b3b;
            }
        }
    }

    .modal-heading {
        font-size: 35px;
        margin-bottom: 20px;

        @include md-block {
            font-size: 30px;
            margin-bottom: 0;
        }

    }

    form {
        padding: 10px 0;

        input {
            width: 100%;
            height: 50px;
            border: 1px solid #c6c6c6;
            border-radius: 3px;
            font-size: 18px;
            color: #3b3b3b;
            padding: 0 22px;
            margin-bottom: 30px;
            box-sizing: border-box;

            @include md-block {
                margin-bottom: 20px;
                height: 45px;
                padding: 0 5px;
            }

            &:focus,
            &:hover {
                border-color: #333;
            }
        }
    }
}